

.widget-content {
    height: 100%;
}

.widget-content.data-session {
    overflow-y: auto;
}

.widget-content.console-session {
    overflow-y: hidden;
}

.dark-color {
    color-scheme: dark;
}

.light-color {
    color-scheme: light;
}