ul.menuItem {
    margin: 0;
    padding-left: 24px;
    
}

div.menuItem.rightShift.flex > div:nth-child(2) {
    display: none;
}

div.menuItem.rightShift.flex::after {
    /* content: ">"; */
    content: '\25b8'
}

.submenu {
    z-index: 100;
}