[submodule "switch/libs/exlaunch"]
	path = switch/libs/exlaunch
	url = git@github.com:shadowninja108/exlaunch.git
[submodule "switch/libs/botw"]
	path = switch/libs/botw
	url = git@github.com:zeldaret/botw.git
